.dashBoardBadge{
    font-size: 15px;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #FF8F61;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    left: 235px;
    top: 3px;
}